#energy-view {
    color: chartreuse;
    font-family: Impact;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 10px;
    float:left;
    text-shadow: 2px 2px 2px black;
}

#energy {
    float: left;
    border: 3px solid gray;
    width: 60px;
    height: 30px;
    margin: 5px 5px 5px 10px;
    border-radius: 7px;
}

#exit-button {
    float: right;
    background-color: crimson;
    width: 30px;
    height: 30px;
    box-shadow: 3px 3px 3px black;
    margin: 5px;
    border-radius: 5px;
    color: white;
    font-family: Arial;
    text-align: center;
}

#child {
    margin-top: 7px;
}

#poza-animal {
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 60px;
    float: left;
    margin-left: 25%;
    }

#nume-animal span {
    border: 1px solid black;
    display: inline-block;
    color: #fff;
    padding: 6px 12px;
}

.litere{
    display: inline-block;
    text-align: center;
    font-size: 18px;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin: 3px;
    color: white;
    background-color:gray;
    cursor: hand;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: black 2px solid;
}

.litere:hover{
    background-color: navy;
}

.litUsed {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    width: 24px;
    height: 24px;
    padding: 2px;
    margin: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: white 2px solid;
}