body {
    background-color: #B5C68E;
}

#energy-view {
    color: olivedrab;
    font-family: Impact;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 10px;
    float:left;
    text-shadow: 2px 2px 2px black;
}

#energy {
    background-color: white;
    float: left;
    border: 3px solid gray;
    width: 60px;
    height: 30px;
    margin: 5px 5px 5px 10px;
    border-radius: 7px;
}

#exit-button {
    float: right;
    background-color: crimson;
    width: 30px;
    height: 30px;
    box-shadow: 3px 3px 3px black;
    margin: 5px;
    border-radius: 5px;
    color: white;
    font-family: Arial;
    text-align: center;
}

#child {
    margin-top: 7px;
}

#poza-animal {
    position: absolute;
    background-color: white;
    width: 300px;
    height: 300px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 60px 50px 30px 50px;
    float: left;
    position: relative;
    box-shadow: 2px 2px 5px black;
    align-self: center;
    }

#nume-animal span {
    border: 1px solid black;
    display: inline-block;
    color: #fff;
    padding: 6px 12px;
}

.litere{
    font-family:"Arial Black";
    font-weight: bold;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin: 3px;
    color: white;
    background-color: olivedrab;
    cursor: hand;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: black 2px solid;
    box-shadow: 2px 2px 3px gray;
    position: relative;
}

#panouLitere {
    align: center;
    margin: 80px 50px 50px 50px;
    max-width: 450px;
    float: left;

}
#used {
    margin-top: 30px;
}

.litere:hover{
    background-color: darkcyan;
}

.litUsed {
    font-family:"Arial Black";
    font-weight: bold;
    background-color: coral;
    color: brown;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    width: 34px;
    height: 34px;
    padding: 2px;
    margin: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 2px black;
    box-shadow: 2px 2px 3px gray;
}